{{!-- <head>
    <link rel="stylesheet" href="/css/index.css">
</head>
--}}
<h1>Main</h1>
<div>
    <section>
        <ul id="petsGrid">
            {{#each pets}}
            <li>
                <div class="card" style="width: 18rem;" id="petsDivCard">
                    <div class="petsUlLiDiv">
                        <img src={{this.image}} class="card-img-top object-fit-cover" alt={{this._id}}>
                    </div>
                    <div class="card-body">
                        <div class="petsUlLiDiv">
                            <h3 class="petsUlLih3">Name: </h3>
                            <h3 class="card-textv petsUlLih3" id="petsTitleId">{{this.name}}</h3>
                        </div>
                        <div class="petsUlLiDiv">
                            <h3 class="petsUlLih3">Specie: </h3>
                            <h3 class="card-textv petsUlLih3">{{this.specie}}</h3>
                        </div>
                        <div class="petsUlLiDiv">
                            <h3 class="petsUlLih3">BirthDate: </h3>
                            <h3 class="card-textv petsUlLih3">{{this.birthDate}}</h3>
                        </div>
                        <div class="petsUlLiDiv">
                            <h3 class="petsUlLih3">Adpoted: </h3>
                            <h3 class="card-textv petsUlLih3">{{this.adopted}}</h3>
                        </div>
                        <div class="petsUlLiDiv">
                            <h3 class="petsUlLih3">Owner: </h3>
                            <h3 class="card-textv petsUlLih3">{{this.owner}}</h32>
                        </div>
                        <div class="petsUlLiDiv">
                            <a href="/details/{{this._id}}" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </li>
            {{/each}}
    </section>
    </ul>
</div>

{{!-- <script src="/scripts/index.js"></script> --}}